{% extends 'base.html' %} {% block title %}Register{% endblock %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="text-center">Register</h2>
    {% if messages %} {% for message in messages %}
    <div
      class="alert {% if message.tags == 'success' %}alert-success {% else %}alert-danger{% endif %}"
    >
      <ul>
        <li><strong>{{ message.tags }}:</strong> - {{ message }}</li>
      </ul>
    </div>
    {% endfor %} {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password:</label>
        <input
          type="password"
          id="password1"
          name="password1"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password:</label>
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control"
          required
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
